.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 260px; /* Width of the sidebar */
  transition: margin-left var(--transition);
  display: flex;
  flex-direction: column;
}

.main-content.full-width {
  margin-left: 0;
}

@media (max-width: 900px) {
  .main-content {
    margin-left: 0;
  }
}
